/* --------------- GENERAL FORMATTING ---------------*/
body{
    box-sizing: border-box;
    font-family: freight-sans-pro, 'Helvetica Nue', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a:hover {
    cursor: pointer;
}

/* --------------- HEADER ---------------*/

header{
    display: flex;
    flex-wrap: no-wrap;
    padding: 20px;
    background-image: linear-gradient(rgb(14, 43, 14), transparent);
    height: 200px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}


header nav{
    margin-left: 10vw;
    margin-right: 30px;
    margin-top: 7px;
    display: grid;
    grid-template-columns: 60px 1fr 60px 1fr 140px 1fr 80px 1fr 140px 1fr 55px;
    font-size: 18pt;
    width: 80%;
    /* background: blue; */    
}

header nav a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-shadow: 0px 0px 10px black, 0px 0px 10px black;
    text-align: center;
    height: 30px;
    /* background: pink; */
    /* line-height: 25pt; */
    /* background-color: blue;; */
}

/* header nav div{
    background: red;
} */

header nav a:hover{
    font-weight: 600;
}

.activePage{
    text-decoration: underline;
}

header img{
    width: 200px;
}

/* --------------- MAIN  ---------------*/

/* main{
    height: 500px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#backgroundImage{
    width: 100%;
    height: calc(100vh + 90px);
    position: absolute;
    top: -90px;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    opacity: 0.9;
    /* clip: rect(50px auto 100vh auto); */
}

h1{
    text-align: center;
    color: white;
    font-size: 100pt;
    font-weight: 600;
    position: relative;
    top: -60px;
    text-shadow: 0px 0px 40px black, 0px 0px 40px black, 0px 0px 40px rgb(37, 37, 37);
    margin-bottom: 10px;
    /* text-shadow: 0px 0px 20px ; */
}

main p{
    text-align: center;
    font-size: 18pt;
    font-weight: 400;
    font-style: italic;
    color: white;
    text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black;
    margin-top: -15px;

}
/* --------------- FOOTER  ---------------*/
footer{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 300px;
    padding: 0px 50px;
    background-image: linear-gradient(transparent, rgb(33, 101, 102));
}

footer p{
    text-align: right;
    margin: 100px 0 2px 0;
    font-weight: 500;
    color: white;
    text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}
footer #photoCred a
{
    color: white;
}

hr{
    /* width: 98vw; */
    margin: 0 0 20px 0;    
    color: white;
    border-style: solid;
}

#footerLinks{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 45%;
    /* width: 80%; */
}

#footerLogo{
    width: 300px;
}

footer #footerNavLinks{
    display: grid;
    grid-template-columns: 55px 1fr 55px 1fr 117px 1fr 70px 1fr 130px 1fr 50px;
    width: 100%;
    margin-left: 10vw;

}


footer nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16pt;
    text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

footer nav .sublink{
    font-size: 14pt;
    font-weight: 400;
}





