/* --------------- GENERAL FORMATTING --------------- */
body{
    box-sizing: border-box;
    font-family: freight-sans-pro, 'Helvetica Nue', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a:hover {
    cursor: pointer;
}



/* --------------- HEADER ---------------*/
header{
    display: flex;
    flex-wrap: no-wrap;
    padding: 20px;
    height: 75px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(138, 138, 138);
    position: fixed;
    top: 0;
    z-index: 2;
}


header nav{
    margin-left: 10vw;
    margin-right: 30px;
    margin-top: 7px;
    display: grid;
    grid-template-columns: 60px 1fr 60px 1fr 140px 1fr 80px 1fr 140px 1fr 55px;
    font-size: 16pt;
    width: 80%;
    /* background: blue; */    
}

header nav a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    height: 30px;
    /* background: pink; */
    /* line-height: 25pt; */
    /* background-color: blue;; */
}

header nav a:hover{
    font-weight: 600;
    /* color: rgb(42, 170, 187); */
}

.activePage{
    text-decoration: underline;
}

header img{
    width: 150px;
}

/* --------------- FOOTER ---------------*/
footer{
    box-sizing: border-box;

    height: 175px;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: black;
}

footer #footerLogo{
    width: 250px;
}

footer #footerNavLinks{
    display: grid;
    grid-template-columns: 55px 1fr 55px 1fr 117px 1fr 70px 1fr 130px 1fr 50px;
    grid-row-gap: 2.5px;
    width: 100%;
    margin-left: 10vw;

}

footer nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14pt;
}

footer nav a:hover {
    font-weight: 600;
}

footer nav .sublink{
    font-size: 12pt;
    font-weight: 400;
}