/* --------------- GENERAL FORMATTING ---------------*/
body{
    box-sizing: border-box;
    font-family: freight-sans-pro, 'Helvetica Nue', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a:hover {
    cursor: pointer;
}

/* --------------- MAIN ---------------*/
main {
    margin: 125px 19vw 0 19vw;
    min-height: calc(100vh - 125px - 175px);
    box-sizing: border-box;
}

#breadcrumbs{
    letter-spacing: 2px;
    color: black;
}

#breadcrumbs a:visited{
    color: black;
}

#headerContainer{
    max-width: 375px;
    margin-left: 5px;
    margin-bottom: 0px;
    height: 100px;

}

h1{
    margin-top: 60px;
    font-size: 50pt;
    font-weight: 600;
}

#underline{
    background-color: rgb(95, 200, 214);
    width: 100%;
    height: 20px;
    position: relative;
    top: -71px;
    left: -5px;
    z-index: -1;
}

p{
    font-size: 16pt;
    font-weight: 400;
    line-height: 2rem;
    vertical-align: top;
    margin: 10px 0 50px 0;
}
#contentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.linkBox{
    opacity: 70%;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.linkBox:hover{
    /* font-weight: 600; */
    opacity: 100%;

}
.ThingToDoLink{
    color: black;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 30pt;
    font-weight: 600    
    /* transition: font-weight 0.3s ease-in-out; */
}

.ThingToDoLink:visited{
    color: gray;
}

main img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: -10px;
    border-radius: 10px;
}


.photoCred{
    font-size: 10pt;
    margin-top: -5px;
    text-align: left;
}

.photoCred a{
    color: black;
    text-decoration: underline solid black;
}
